[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iris = {path = ".",editable = true}
pygetwindow = "==0.0.4"
pyautogui = "==0.9.41"
pyscreeze = "==0.1.19"
coloredlogs = "==10.0"
python-dateutil = "==2.8.0"
opencv-python = "==3.4.1.15"  #version needed for Windows 7
pytesseract = "==0.2.6"
numpy = "==1.16.1"
image = "==1.5.27"
pyperclip = "==1.7.0"
packaging = "==19.0"
gitpython = "==2.1.11"
pynput = "==1.4"
mozinstall = "==1.16.0"
mozdownload = "==1.25"
mozversion = "==1.5"
mozinfo = "==1.0.0"
mozrunner = "==7.3.0"
mss = "==4.0.1"
# Platform dependencies
xlib = {platform_system = "== 'Linux'",version = "==0.21"}

[dev-packages]
pep8 = "*"
pylint = "*"

[requires]
python_version = "2.7"
