[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moziris = "==0.8"
pre-commit = "==1.18.3"

[dev-packages]
pylint = "*"
pep8 = "*"

[requires]
python_version = "3.7"
